.dark-cyan {
  background-color: #398e88ff
}

.corpo {
  height: 800px;
}

.testimonial {
    background-color: #f8f9fa;  
    border: none;
  }

.logo img {
  width: 150px;
  margin-left: 50px;
}

.navbar-nav {
  padding-right: 80px;
}

.time .img-fluid {
  width: 80%;
}


/* Serviços*/
.service-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  height:260px;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.service-card p {
  color: #666;
}

.btn-primary {
  border-color: lightseagreen;
  background-color: #2fcfba; 
}

.service-card a.btn {
  display: inline-block;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

/*login */
.login-form {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

.login-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login-form button {
  margin-top: 15px;
}

/* Login Cadastro */
.clique {
  color:blue
}

/*rodapé */
.footer {
  text-align: center;
  color:black
}

.media-body {
  margin-bottom:15px ;
}

footer {
  background-color: whitesmoke;
 
}

footer .footer_2 {
  margin-top: 50px;
}

footer .single-footer-widget h4 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
}

.footer .la footer {
  display: flex;
  justify-items: flex-end;
}

.conteudo2 {
  width: 100%;
  height: 630px;
  
}

.cardAbout .single_feature_part {
  height: 360px;
  width: 280px;
  margin: 20px;
}

.servico-card p {
  line-height: 22px;
}



@media(max-width: 1199px) {
  .cardAbout .single_feature {
    display: flex;
    justify-content: center;
  }
}
@media(min-width: 769px ) and (max-width: 991px)  {
  .service-card{
    height: 300px;
  }
}

@media(max-width: 991px){
 .time .img-fluid {
    width: 70%;
  }
  .conteudo2 {
    height: 350px;
  }
}

@media(max-width: 560px){
  .lead {
    font-size: 1.05em;
    margin-bottom: 20px;
  }
  .featurette {
    padding: 0px;
  }
}

@media(min-width: 561px) and (max-width: 1660px){
  .lead {
    font-size: 1.18em;
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 1200px) {
  .card-body-description {
    max-height: 80px;
  }
  row .featurette {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row .featurette .col-md-7 {
    max-width: 100%;
  }
  .row .featurette .col-md-5 {
    max-width: 80%;
    display: flex;
    order: 2 ;
  }
}

@media(min-width: 300px) and (max-width: 338px) {
  .card-body-description {
    max-height: 120px;
  }
}

@media(max-width: 766px){
  .conteudo2 {
    height: 280px;
  }
}

@media(max-width: 476px){
  .conteudo2 {
    height: 220px;
  }
}

@media(max-width: 380px){
  .conteudo2 {
    height: 180px;
  }
}

@media(max-width: 350px){
  .conteudo2 {
    height: 150px;
  }
}
@media (min-width: 1200px){
.row .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
}
