
  /*navbar do menu*/
  .navbar {
    justify-content: flex-start;
  }

.header {
  background-color: #343a40; 
  color: #fff;
  padding: 40px 0;
}

.testimonial {
    background-color: #f8f9fa;  
    border: none;
  }
  

/* Serviços*/
.service-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.service-card p {
  color: #666;
}

.service-card a.btn {
  display: inline-block;
}

/*login */
.login-form {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

.login-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login-form button {
  margin-top: 15px;
}

/* Login Cadastro */
.clique {
  color:blue
}

/*rodapé */
.footer {
  text-align: center;
  color:black
}
