.turquoise {
  background-color: #2fcfbaff;
}

.dark-cyan {
  background-color: #398e88ff
}

.dark-green {
  background-color: #0e3329ff;
}

.night {
  background-color: #121517ff;
}

.lavender-blush {
  background-color: #f5edf0ff;
}
